.bg-picture2{
    background-image: url('./hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    display: flex;
    
    
    
}


.bg-picture1{
    background-image: url('./hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    display: flex;
    
    
    
}